.navbar-brand {
    font-weight: bold;
    color: #007bff !important;
  }
  .nav-link {
    color: #333 !important;
  }
  .nav-link.active {
    font-weight: bold;
    color: #007bff !important;
  }
  